body {
    font-family: Arial;
    background-color: #f4f4f4;
}

table {
    border-collapse: collapse;
    width: 60%;
    margin: 20px auto;
    background: white;
}

th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

th {
    background-color: #4CAF50;
    color: white;
}