body{
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background: linear-gradient(#f3e8ff, #e9d5ff);
}

div {
    border: 2px solid e0e0e0;
    margin: 20px;
    padding: 20px;
    border-radius: 20px;
    background-color: #ffffff;
}

h1 {
    background-color: #a855f7;
    margin: 10px;
    padding: 10px;
    color: white;
    text-align: center;
    border-bottom: 8px solid #7e22ce;
}

p {
    font-size: 20px;
    color: rgb(99, 92, 92);
}

h3 {
    color: #a855f7;
    border-bottom: 2px solid #7e22ce;
    margin: 10px;
    padding: 10px;
}

img {
    width: 300px;
}

a {
    text-decoration: none;
    color: #d61c1c;
    cursor: pointer;
}


a:hover {
    text-decoration: underline;
    color: #340adc;
}

button{
    background-color: #ec4899;
    color: white;
    margin: 12px;
    padding: 12px 20px;
    border: none;
    border-radius: 10px;
    font-size: 17px;
}

button:hover{
    background-color: #d61c1c;
    cursor: pointer;
}