body {
  font-family: Arial, sans-serif;
  background-color: #111;
  color: white;
  text-align: center;
}
 .navbar {
  display: flex;
  justify-content: center;
  gap: 15px;
  background: #222;
  padding: 10px;
}
 .navbar a {
  color: white;
  text-decoration: none;
}
 .navbar a.active {
  color: #00ffcc;
  font-weight: bold;
}