body {
  background-color: lightgoldenrodyellow;
  padding: 20px;
}

h1 {
  font-size: 44px;
}

.hero-section {
  padding: 40px;
  text-align: center;
  background-color: skyblue;
  border: 2px solid rgb(0, 48, 64);
  border-radius: 20px;
  box-shadow: 0 0 5px black;
}

.hero-section h1 {
  margin-bottom: 20px;
}

dl {
  padding: 20px;
  margin-top: 40px;
  background-color: lightblue;
  border-radius: 20px;
  box-shadow: 0 0 5px black;
}
