
:root{
    --pr-color:#00c224;
    --sc-color:#797979;
}

.text-pr-color{
    color: var(--pr-color);
}

.main{
    min-height: 80vh;
}

/* Webkit browsers */

::-webkit-scrollbar {
    width: 5px; /* Width of the entire scrollbar */
  }
  
  ::-webkit-scrollbar-track {
    background: #eee; /* Color of the scrollbar track */
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: var(--pr-color); /* Color of the scrollbar thumb */
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background-color: #555; /* Color when hovered */
  }
  

  .nav-logo{
    width: 42px;
  }

  .nav-link.active{
    color: var(--pr-color) !important;
    font-weight: 800;
    scale: 1.1;
    
    padding-bottom: 1px !important;
    border-bottom: 1px solid var(--sc-color);
  }

  .nav-item{
    margin-left: 20px;
  }


  .search-input{
    border-radius: 20px;
    width: 400px;
  }

  .search-input:focus{
    box-shadow: none;
    border-color: var(--pr-color);
  }

  .pr-btn{
    border-radius: 30px;
    color: var(--pr-color);
    border: 1px #ccc solid ;
    padding: 3px 20px;
    box-shadow: 1px 1px 3px #9a9999ce;
  }

  .toast{
    position: fixed;
    right: 10px;
    top: 100px; 

    z-index: 1999;
  }